name: my-first-workflow
# To get a trigger on every push in this repo in any branch
on:
  push:

jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps: 
      - name: Step-1
        run: |
          pwd
          ls -ltr
          hostname
      - name: Step-2 - Checkout
        uses: actions/checkout@v5.0.0
      - name: Step-3
        run: |
          echo `pwd` >> myartifact.txt
          mkdir artifacts
          echo `ls -ltr` >> artifacts/list.txt
          echo `hostname` >> artifacts/hostname.txt
      - name: Upload Single file
        uses: actions/upload-artifact@v5.0.0
        with:
          name: single_file
          path: ./myartifact.txt
      - name: Upload from directory
        uses: actions/upload-artifact@v5.0.0
        with:
          name: directory_artifacts
          path: artifacts/
      - name: Upload from multiple paths
        uses: actions/upload-artifact@v5.0.0
        with:
          name: multiple_paths
          path: |
            ./myartifact.txt
            artifacts/
      - name: Upload from multiple paths with exclusions
        uses: actions/upload-artifact@v5.0.0
        with:
          name: multiple_paths_with_exclusions
          path: |
            ./myartifact.txt
            artifacts/
            !**/hostname.txt
            
        
          
