name: CI Pipeline with Reusable Workflow
# To get a trigger on every push in this repo in the main branch
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - HELMCHART-VERSION
permissions:
  actions: read
  security-events: write
  packages: write
  contents: write

env:
  OCI_REGISTRY: ghcr.io
  OCI_REPOSITORY: ${{ github.repository_owner }}/helm-charts
jobs:
  # ci-pipeline-job:
  #   uses: kulbhushanmayer/reusable-workflows/.github/workflows/ci-pipeline.yml@main
  #   with:
  #     run_codeql: true
  #     run_sonarqube: true
  #     run_build: true
  #     run_ghcr_publish: true
  #   secrets:
  #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #     DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  #     DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  # deploy-with-kubectl:
  #   needs: ci-pipeline-job
  #   uses: kulbhushanmayer/reusable-workflows/.github/workflows/deploy-with-kubectl.yml@main
  #   with:
  #     ENVIRONMENT: STAGING
  #     IMAGE_NAME: ghcr.io/kulbhushanmayer/thinknyx_app
  #   secrets:
  #     KUBECONFIG: ${{ secrets.KUBECONFIG }}
  # selenium-tests:
  #   needs: deploy-with-kubectl
  #   uses: kulbhushanmayer/reusable-workflows/.github/workflows/run-selenium-tests.yml@main
  #   with:
  #     ENVIRONMENT: STAGING

  publish-helm-chart:
    #needs: selenium-tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout Repo
        uses: actions/checkout@v5
      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
      - name: Install yq
        run: |
          sudo curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq
      - name: Check Helm & yq Version
        run: |
          helm version     
          yq --version
      - name: update image name in Chart 7 values YAML
        run: |
          export IMAGE_TAGS="${{ github.run_id}}-${GITHUB_SHA::7}"
          export VERSION="0.1.0-${IMAGE_TAGS}"
          yq e '.image.tag = strenv(IMAGE_TAGS)' charts/values.yaml -i
          yq e '.version = strenv(VERSION)' charts/Chart.yaml -i
          yq e '.appVersion = strenv(IMAGE_TAGS)' charts/Chart.yaml -i
          cat charts/values.yaml
          cat charts/Chart.yaml      
      - name: Lint Chart
        run: helm lint charts/
      - name: Create package
        run: |
          helm package charts/
          ls -ltr .
      - name: Login to GHCR (OCI)
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ${{ env.OCI_REGISTRY }} -u ${{ github.actor }} --password-stdin
      - name: Push Helm Chart to GHCR (OCI)
        run: |
          export IMAGE_TAGS="${{ github.run_id}}-${GITHUB_SHA::7}"
          export VERSION="0.1.0-${IMAGE_TAGS}"
          helm push thinknyxapp-${VERSION}.tgz oci://${{ env.OCI_REGISTRY }}/${{ env.OCI_REPOSITORY }}
      - name: Logout from GHCR
        run: helm registry logout ${{ env.OCI_REGISTRY }}
      - name: Update HelmChart Version in Repo
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git fetch origin ${{ github.head_ref }}
          git reset --hard origin/${{ github.head_ref }}

          export IMAGE_TAGS="${{ github.run_id}}-${GITHUB_SHA::7}"
          export VERSION="0.1.0-${IMAGE_TAGS}"
          echo "VERSION=\"${VERSION}\"" > HELMCHART-VERSION

          git add HELMCHART-VERSION
          git commit -m "Updated Helm Chart Version to ${VERSION}"
          git push origin HEAD:${{ github.head_ref }}
        