name: CI Pipeline with Reusable Workflow
# To get a trigger on every push in this repo in the main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  actions: read
  security-events: write
  packages: write
  contents: read
jobs:
  ci-pipeline-job:
    uses: kulbhushanmayer/reusable-workflows/.github/workflows/ci-pipeline.yml@main
    with:
      run_codeql: true
      run_sonarqube: true
      run_build: true
      run_ghcr_publish: true
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  deploy-with-kubectl:
    needs: ci-pipeline-job
    runs-on: github-actions-scaleset-demo
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Install kubectl
        run: |
          curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x ./kubectl
          sudo mv ./kubectl /usr/local/bin/kubectl
          kubectl version --client
      - name: Configure Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          kubectl version
          kubectl get nodes
      
      - name: Install yq
        run: |
          sudo curl -L https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq
          yq --version

      - name: update image name in deployment YAML
        run: |
          IMAGE_TAGS="${{ github.run_id}}-${GITHUB_SHA::7}"
          IMAGE="ghcr.io/kulbhushanmayer/thinknyx_app:${IMAGE_TAGS}"
          yq e '.spec.template.spec.containers[0].image = strenv(IMAGE)' manifests/deployment.yaml -i
          cat manifests/deployment.yaml
