name: CI Pipeline with Reusable Workflow
# To get a trigger on every push in this repo in the main branch
on:
  pull_request:
    branches:
      - main
permissions:
  actions: read
  security-events: write
  packages: write
  contents: read
jobs:
  # ci-pipeline-job:
  #   uses: kulbhushanmayer/reusable-workflows/.github/workflows/ci-pipeline.yml@main
  #   with:
  #     run_codeql: true
  #     run_sonarqube: true
  #     run_build: true
  #     run_ghcr_publish: true
  #   secrets:
  #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #     DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  #     DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  # deploy-with-kubectl:
  #   needs: ci-pipeline-job
  #   uses: kulbhushanmayer/reusable-workflows/.github/workflows/deploy-with-kubectl.yml@main
  #   with:
  #     ENVIRONMENT: STAGING
  #     IMAGE_NAME: ghcr.io/kulbhushanmayer/thinknyx_app
  #   secrets:
  #     KUBECONFIG: ${{ secrets.KUBECONFIG }}
  # selenium-tests:
  #   needs: deploy-with-kubectl
  #   uses: kulbhushanmayer/reusable-workflows/.github/workflows/run-selenium-tests.yml@main
  #   with:
  #     ENVIRONMENT: STAGING

  publish-helm-chart:
    runs-on: ubuntu-latest
    steps:
      - name: checkout Repo
        uses: actions/checkout@v5
      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
      - name: Check Helm Version
        run: helm version