name: CI Pipeline
# To get a trigger on every push in this repo in any branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  actions: read
  security-events: write
  packages: write
  contents: read
jobs:
  ci-pipeline-job:
    uses: kulbhushanmayer/reusable-workflows/.github/workflows/ci-pipeline.yml@main
    with:
      run_unit_tests: true
      run_build: true
      run_codeql: false
      run_sonarqube: false
      run_dockerhub_publish: false
      run_ghcr_publish: false
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
